.health-data {
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0vh;
  font-family: "Open Sans", sans-serif;
  background: #222;
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
  font-size: 120%;
  flex-direction: column;
  justify-content: center;
}

.medical-record {
  display: flex;
  align-items: center;
  height: 100vh;
  margin-top: 0vh;
  font-family: "Open Sans", sans-serif;
  background: #222;
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
  font-size: 120%;
  flex-direction: column;
}

.map {
  display: flex;
  align-items: center;
  height: 90vh;
  margin-top: 2vh;
  font-family: "Open Sans", sans-serif;
  background: #222;
  background-color: #d1e2e9;
  font-size: 120%;
  flex-direction: column;
}

.card {
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

button:hover {
  background: #7c7c7c6b;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.medical-card {
  background: #333333ee;
  color: white;
  padding: 1em;
  border-radius: 30px;
  width: 100%;
  max-width: 70vw;
  margin: 1em;
  padding: 2em;
}

.text-card {
  background: #616060d0;
  color: white;
  padding: 1em;
  border-radius: 30px;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.medical-button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #333333;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

hr{
  border-top: 0.25vh dashed white;
  border-bottom: 0px;
}

input.search-color{
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #333333;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

.flex-nav{
  display: flex;
  flex-direction: row;
  background-color: #d1e2e9;
  width: 98.9vw;
  height: 10vh;
  align-items: center;
}

.flex-nav a{
  margin-left: 5vw;
  margin-right: 20vw;
  text-decoration: none;
  color: black;
}

.flex-nav a:hover{
  color: white;
}

.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-column{  
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flex-column-start{  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-font{
  font-size: 2.5vw;
}

.small-font-grey{
  font-size: 2.5vw;
  color: rgb(202, 201, 201);
}

.header-font{
  font-size: 3.25vw;
  font-weight: bold;
}

.main-header-font{
  text-align: center;
  font-size: 4vw;
  font-weight: bold;
}
.flex-row img {
	border-radius: 100%;
	max-width: 100%;
  width: 14%;
  height: 14%;
  margin-block-start: 2em;
  margin-block-end: 1em;
}

.smaller-font{
  font-size: 2.0vw;
}
.badge {
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 100%;
  background-color: red;
  color: white;
}
 .home {
   display: flex;
   align-self: flex-start;
 }